@use "../../../Globals/Sass/Mixins/mixin.scss";

.form {
  margin-top: 2rem;
}

.card {
  @include mixin.center(60%);
  padding: 2rem;
  background: white;
  box-shadow: 0 2.1px 3px rgba(156, 156, 156, 0.1),
    0 6.6px 38.2px rgba(0, 0, 0, 0), 0 24px 40px rgba(88, 88, 88, 0.007);

  &:not(:first-child) {
    border-top: 1px solid #e4e1e1;
    margin-top: 2rem;
  }
}
.card__field {
  width: 100%;
  display: block;
  padding: 1.2rem;
  border-radius: 0.2rem;
  border: 1px solid #cfccca;

  &:not(:first-child) {
    margin-top: 0.8rem;
  }
}
