@use "src/Globals/Sass/Mixins/mixin";
@use "src/Globals/Theme/spacing";
@use "src/Globals/Theme/colors";
.header {
  background: colors.Color(true, "extraLight");
  width: 100%;
  box-shadow: 2px 0px 8px 10px colors.Color(true, "light");

  .headerContent {
    color: #707070;
    padding: spacing.Spacing(2) 0px;
    @include mixin.center(80%);
    @include mixin.flex();
  }
}
.headerOptions {
  @include mixin.flex();
}
